<div ng-controller="cartDetailsCtrl" style="background: #f7f5ee;">

   <div class="add-cart-item" >
   
     <div class="add-cart-item-firstRow" style="">
        <div class="cartDetails" style="">
           <!-- <span class="cartdetails1" ng-click="displayCartDetails()"><a style=" " >Cart(5)</a></span> -->
           <!-- <span " class="digitalCart"><a>Digital Cart (0)</a></span> -->
            <button class="cart-button" ng-click="displayCartDetails()" >Cart({{cartDetails.length}})</button>
            <button class="digital-button"  id="digitalCartChange" ng-class="{cartChangebutton : selected=='digitalCartChange'}" ng-click="selected='digitalCartChange';displayDigitalCartDetails()" >Digital Cart(0)</button>
        </div>
        
        
        <div ng-show="iscartDetails">
        <div class="display-cart-list">
        <span class="display-cart-list-item1" style="" >ITEM</span>
     <span>   <span class="display-cart-list-item2" style="">QTY</span></span>
        <span class="display-cart-list-item3" style="">PRICE</span>
        <span class="display-cart-list-item4" style="">DELIVERY DETAILS</span>
        <span class="display-cart-list-item5" style="">SUBTOTAL</span>
        </div>
        <div class="display-cart-list-item-details" ng-repeat="cartData in cartDetails">
           <div><img ng-src="{{cartData.productImg}}"></div>
           <div class="add-cart-product-description">
               <div class="cartProductName">{{cartData.productName}}</div>
               <div  class="cartProductInfo">{{cartData.productInfo}}</div>
               <div><span style="font-size: 12px;">Seller:</span><span class="cartSellerName">{{cartData.sellerName}}</span></div>
               <div style="font-size: 11px;color: #54a442;text-decoration: none;">You are eligible for 1 offer!</div>
          <a style="margin-left: 50%;cursor: pointer;" ng-click="removeCartItem($index)">Remove</a>
           </div>
           <input class="cart-qty" ng-model="cartData.productQty" value="{{cartData.productQty}}" ng-focus="displaySavebutton()">
           <a style="color: #666;cursor: pointer;" ng-show="isSave" ng-click="displayQuantityTotal()">save</a>
           <div class="add-cart-price">Rs. {{cartData.itemSubTotal}}</div>
           <div class="cart-deliverDetails">
              <div style="" class="cartsFreeDetails" >Free</div>
              <div  class="cartDeliveryDetails">{{cartData.productDeliveryDetails}}</div>
           </div>
           <div style="" class="cartprice">Rs. {{cartData.productSubTotal}}</div>
           
        </div>
        
        <div align="right">
        <div class="cart-amountPayable">
           <span style="" class="amountPayable">Amount Payable:</span>
           <span style="font-weight: bold;font-size: 21px">Rs.{{productSubTotal}}</span>
        </div>
        </div>
       
        
        <div class="cart-price-row">
       <form action="" name="cartform" novalidate>
        <div ng-show="isCartPricePin">
          <span><img alt="" src="image/ic_launcher_track.png" width="15px" height="15px"></span>
          <span>Shipping to:</span>
          <span style=""class="area-pin">{{pinNumber}}</span>
          <span style="cursor: pointer;" class="cartdetailChange" ng-click="redirectPin()">Change</span>
          </div>
          <div class="check-customer-pin" ng-show="ischeckcustomerpin">
               <input type="text" placeholder="Enter Your Pincode" style="width: 220px" ng-model="pinNumber" >
               <button type="button" class="cart-check-pin-btn" ng-click="displayCheck();displayChangePin()">CHECK</button>
          </div>
          </form>
          <div style="margin-left: 15%"><button type="button" class="btn-continue-shopping" ng-click="redirectHome()">CONTINUE SHOPPING</button></div>
          <div style=""><button type="button" class="btn-place-order" ng-click="displayPlaceOrder()">PLACE ORDER</button></div>
        </div>
        </div>
         <div ng-show="isDigitalCartDetails">
           <div class="digital-cart-details">
           <div align="center">
                <div class="digital-cart-details-firstRow">
                   <div class="digital-cart-count"> There are no items in this cart. </div>
                   <div><button type="button" class="digital-continue-shopping" ng-click="redirectHome()">CONTINUE SHOPPING</button></div>
                </div>
                
              </div>  
              
              <div class="browse-categories-details">
                 <div class="browse-categories">Browse Categories</div>
                 <div class="browse-categories-details-list">
                        <div class="browse-categories-details-list-first-column">
                           <div>
                              <span class="bullet">>></span>
                              <span><a>Books</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a> Mobiles</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a>Mobile Accessories</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a>Movies</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a>Personal & Health Care</a></span>
                           </div>
                        </div>
                        <div class="browse-categories-details-list-first-column">
                           <div>
                              <span class="bullet">>></span>
                              <span><a>Cameras</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a> Camera Accessories</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a>Games</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a>Gaming Consoles</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a>Home Appliances</a></span>
                           </div>
                        </div>
                        <div class="browse-categories-details-list-first-column">
                           <div>
                              <span class="bullet">>></span>
                              <span><a>Music CDs, DVDs & Vinyl</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a> iPods & MP3 Player</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a>Laptops</a></span>
                           </div>
                            <div>
                              <span class="bullet">>></span>
                              <span><a>Laptop Accessories</a></span>
                           </div>
                            
                        </div>
                 </div>
              </div>
           </div>
       </div>
        <div class="cart-feature-row">
            <div class="cart-feature-row-firstColumn">
               <div>
                 <img alt="" src="image/ic_launcher_lock.png" width="24px" height="24px"> 
               </div>
               <div>
                   <span style="" class="cart-sequre">SECURE</span>
                   <br>
                   <span style=" " class="cart-paymrnts">PAYMENTS</span>
               </div>
            </div>
            <div class="cart-feature-row-firstColumn">
               <div>
                 <img alt="" src="image/ic_launcher_round.png" width="24px" height="24px"> 
               </div>
               <div>
                   <span style="" class="cart-origial">ORIGINAL</span>
                   <br>
                   <span style="" class="cartproducts">PRODUCTS</span>
               </div>
            </div>
            <div class="cart-feature-row-firstColumn">
               <div>
                 <img alt="" src="image/ic_launcher_sync.png" width="24px" height="24px"> 
               </div>
               <div>
                   <span style="" class="cart-free-easy">FREE & EASY</span>
                   <br>
                   <span style=" " class="cart-returns">RETURNS</span>
               </div>
            </div>
            <div class="cart-feature-row-firstColumn" >
               <div>
                 <img alt="" src="image/ic_launcher_yes.png" width="24px" height="24px"> 
               </div>
               <div>
                   <span style="" class="cart-buyer">100% BUYER</span>
                   <br>
                   <span style=" " class="cart-protection">PROTECTION</span>
               </div>
            </div>
        </div>
        
        <div class="cart-details-policies">
           <span style="" class="cartPolcies">Policies:</span>
           <span><a style="" class="cart-policy-list">Return Policy</a></span>
           <span><a class="cart-policy-list">Terms of use </a></span>
           <span><a class="cart-policy-list"> Security </a></span>
           <span><a class="cart-policy-list">Privacy </a></span>
           <span><a class="cart-policy-list">Infringement </a></span>
           <span style="" class="retail-com">@ 2007-2016 Retail.com.</span>
        </div>
        
       
      
       
       
        
     </div>
     
     
     
   </div>
 </div>
