<div ng-controller="MainCtrl">
  
  <div class="button-bar">
    <a class="button button-energized" id="weak" 
       ng-class="{active: selected=='weak'}" ng-click="selected='weak';display()">
      weak
    </a>
    <a class="button button-energized" id="normal" 
       ng-class="{active: selected=='normal'}" ng-click="selected='normal'">
        normal
    </a>
    <a class="button button-energized" id="strong" 
       ng-class="{active: selected=='strong'}" ng-click="selected='strong'">
        strong
    </a>
</div>
  </div>
