<div ng-controller="placeOrderCtrl">
   <div class="place-order">
           <div class="panel-heading">
               1.BEFORE YOUR PLACE YOUR ORDER!
           </div>
           <div class="place-order-first">
           <form action="" name="placeOrderFirstform" ng-submit="submitForm(placeOrderFirstform.$valid)" novalidate>
             <div class="place-order-first-firstColumn" ng-show="isPhoneNumberVisible">
                <div class="place-order-service-head">Get started with our secure login flow</div>
               <div><input type="text" placeholder="Enter mobile number" style="width: 90%;margin-top: 1%" ng-model="phone" name="phone" ng-minlength="10" ng-pattern="/^[0-9]+$/" required></div>
              
              <span style="color:red" ng-show="placeOrderFirstform.phone.$dirty && placeOrderFirstform.phone.$invalid">
<span ng-show="placeOrderFirstform.phone.$error.required">Phone is required.</span>
<span ng-show="placeOrderFirstform.phone.$error.pattern">Phone must be numeric.</span>
<span ng-show="placeOrderFirstform.phone.$error.minlength">Phone must be min 10 char.</span>
</span>
              
              
              
              
               <div style="margin-top: 3%"><button type="submit" class="placeOrder-continue">CONTINUE</button></div>
             </div>
            </form> 
             <div class="place-order-firstColumn-password" ng-show="isPasswordVisible">
             
                   <form action="" name="placeOrderSecondForm" ng-submit="redirectOrderSummery(placeOrderSecondForm.$valid)" novalidate>           
                   <div >
                      <span class="user-phone-number">{{phone}}</span>
                      <span class="change-user-number"><a ng-click="changeNumber()">Change</a></span>
                   </div>
                   <div style="font-size: 17px">Enter Password*</div>
                   <div><input type="password" style="width: 270px" ng-model="userPassword" name="userPassword" ng-minlength="6" ng-maxlength="10"></div>
                   <span style="color:red" ng-show="placeOrderSecondForm.userPassword.$dirty && placeOrderSecondForm.userPassword.$invalid">
                     <span ng-show="placeOrderSecondForm.userPassword.$error.required">password is required.</span>
                        <span ng-show="placeOrderSecondForm.userPassword.$error.minlength">password should be minimum 6 character</span>
                       <span ng-show="placeOrderSecondForm.userPassword.$error.maxlength">password should be maximum 10 character.</span>
                   </span>
                   
                   
                   
                   <div><button type="submit" class="place-order-signin-btn">SIGN IN</button></div>
                   <a ng-click="forgetpasswordRecover()" style="cursor: pointer;">forgot password?</a>
            </form>
            
             </div>
             <div class="place-order-firstColumn-password" ng-show="isforgotPassword">
               <div style="font-size: 13px">For security reasons, we've sent a Verification Code to </div>
               <div >
                      <span class="user-phone-number">{{userPhoneNumber}}</span>
                      <span class="change-user-number"><a ng-click="changeNumber()">Change</a></span>
                   </div>
                   <div style="font-size: 17px;margin-top: 7px">Enter the Code</div>
                  <div>
                     <span><input type="text"></span>
                     <span style="margin-left: 5px"> Enter a 6-digit OTP</span>
                  </div>
                  <div style="margin-top: 7px">
                     <span style="color: #848484;font-size: 12px">Trouble receiving Code? </span>
                     <span class="resend-code"><a>Resend Code</a></span>
                  </div>
                  <div class="text-details">Set Password*</div>
                  <input type="text" style="width: 250px" disabled="disabled">
                   <div class="text-details">Confirm Password*</div>
                   <input type="text" style="width: 250px" disabled="disabled">
                   <button type="button" class="place-order-signin-btn" style="margin-bottom: 25" disabled="disabled">CONTINUE</button>
             </div>
             
             <div class="place-order-second-column">
                 <div class="advantage-sign"> Advantages of Sign Up</div>
                 <div class="advantage-sign-details">
                   <div><img alt="" src="image/ic_launcher_truck_blue.png" width="35px" height="35px"></div>
                   <div style="margin-left: 20px">
                      <div class="advance-details">Manage your Orders</div>
                      <div class="advance-details1">Easily Track Orders, Hassle free Returns</div>
                   </div>
                 </div>
                 <div class="advantage-sign-details">
                   <div><img alt="" src="image/ic_launcher_bell_blue.png" width="35px" height="35px"></div>
                   <div style="margin-left: 20px" >
                      <div class="advance-details">Make Informed Decisions</div>
                      <div class="advance-details1">Get Relevant Alerts and Recommendations</div>
                   </div>
                 </div>
                 <div class="advantage-sign-details">
                   <div><img alt="" src="image/ic_launcher_blue_heart.png" width="35px" height="35px"></div>
                   <div style="margin-left: 20px">
                      <div class="advance-details">Engage Socially</div>
                      <div class="advance-details1">With wishlists, Reviews, Ratings</div>
                   </div>
                 </div>
             </div>
            
       </div>
       <div class="place-order-second">
           <div style="    padding: 10px 5px 10px 20px;font-weight: bold;">2. DELIVERY ADDRESS</div>
       </div>
       <div class="place-order-second">
           <span style="    padding: 10px 5px 10px 20px;font-weight: bold;">3. ORDER SUMMERY</span>
            <span style="color: #666">{{cartDetails.length}} items</span>
             <span style="color: #666">Total Rs.{{productSubTotal}}</span>
           
       </div>
       <div class="place-order-second">
           <div style="    padding: 10px 5px 10px 20px; color: #666">4. PAYMENT METHOD</div>
       </div>
   </div>
</div>