<div ng-controller="placeOrderCtrl">
   <div class="place-order">
           <div class="panel-heading">
               1.BEFORE YOUR PLACE YOUR ORDER!
           </div>
           <div class="place-order-first">
           
             <div class="place-order-first-firstColumn" ng-show="isPhoneNumberVisible">
             
             
             <form name="placeOrderFirstform"   novalidate>
            
                <div class="place-order-service-head">Get started with our secure login flow</div>
               <div><input type="text" placeholder="Enter mobile number" style="width: 90%;margin-top: 1%" ng-model="userPhone" name="userPhone" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]+$/" ng-required="true"></div>
              
              
                 <div ng-show="placeOrderFirstform.$submitted || placeOrderFirstform.userPhone.$touched" style="color: red">
                  <div ng-show="placeOrderFirstform.userPhone.$error.required" class="">phone number required.</div>
                  <div ng-show="placeOrderFirstform.userPhone.$error.pattern" class="">phone number must be numeric.</div>
                   <div ng-show="placeOrderFirstform.userPhone.$error.minlength" class="">phone number must be 10 digit</div>
                   <div ng-show="placeOrderFirstform.userPhone.$error.maxlength" class="">phone number must be 10 digit</div>
               </div>
              
              
              
               <div style="margin-top: 3%"><button type="submit" class="placeOrder-continue" ng-click="submitPhone(placeOrderFirstform.$valid)"
               >CONTINUE</button></div>
             </form>
             </div>
            
             <div class="place-order-firstColumn-password" ng-show="isPasswordVisible">
             
                   <form name="placeOrderSecondForm"  novalidate>           
                   <div >
                      <span class="user-phone-number">{{userPhone}}</span>
                      <span class="change-user-number"><a ng-click="changeNumber()">Change</a></span>
                   </div>
                   <div style="font-size: 17px">Enter Password*</div>
                   <div><input type="password" style="width: 250px;height: 40px" ng-model="userPassword" name="userPassword" ng-minlength="6" ng-maxlength="10" required="required"></div>
                    <div ng-show="placeOrderSecondForm.$submitted || placeOrderSecondForm.userPassword.$touched" style="color: red">
                  <div ng-show="placeOrderSecondForm.userPassword.$error.required" class="">password required .</div>
                   <div ng-show="placeOrderSecondForm.userPassword.$error.minlength" class="">password is too short</div>
                   <div ng-show="placeOrderSecondForm.userPassword.$error.maxlength" class="">password is too long</div>
               </div>
                   
                   
                   
                   <div><button type="submit" class="place-order-signin-btn" ng-click="changePassword(placeOrderSecondForm.$valid)")>SIGN IN</button></div>
                   <a ng-click="forgetpasswordRecover()" style="cursor: pointer;">forgot password?</a>
            </form>
            
             </div>
             <div class="place-order-firstColumn-password" ng-show="isforgotPassword">
               <div style="font-size: 13px">For security reasons, we've sent a Verification Code to </div>
               <div >
                      <span class="user-phone-number">{{userPhoneNumber}}</span>
                      <span class="change-user-number"><a ng-click="changeNumber()">Change</a></span>
                   </div>
                   <div style="font-size: 17px;margin-top: 7px">Enter the Code</div>
                  <div>
                     <span><input type="text"></span>
                     <span style="margin-left: 5px"> Enter a 6-digit OTP</span>
                  </div>
                  <div style="margin-top: 7px">
                     <span style="color: #848484;font-size: 12px">Trouble receiving Code? </span>
                     <span class="resend-code"><a>Resend Code</a></span>
                  </div>
                  <div class="text-details">Set Password*</div>
                  <input type="text" style="width: 250px" disabled="disabled">
                   <div class="text-details">Confirm Password*</div>
                   <input type="text" style="width: 250px" disabled="disabled">
                   <button type="button" class="place-order-signin-btn" style="margin-bottom: 25" disabled="disabled">CONTINUE</button>
             </div>
             
             <div class="place-order-second-column">
                 <div class="advantage-sign"> Advantages of Sign Up</div>
                 <div class="advantage-sign-details">
                   <div><img alt="" src="image/ic_launcher_truck_blue.png" width="35px" height="35px"></div>
                   <div style="margin-left: 20px">
                      <div class="advance-details">Manage your Orders</div>
                      <div class="advance-details1">Easily Track Orders, Hassle free Returns</div>
                   </div>
                 </div>
                 <div class="advantage-sign-details">
                   <div><img alt="" src="image/ic_launcher_bell_blue.png" width="35px" height="35px"></div>
                   <div style="margin-left: 20px" >
                      <div class="advance-details">Make Informed Decisions</div>
                      <div class="advance-details1">Get Relevant Alerts and Recommendations</div>
                   </div>
                 </div>
                 <div class="advantage-sign-details">
                   <div><img alt="" src="image/ic_launcher_blue_heart.png" width="35px" height="35px"></div>
                   <div style="margin-left: 20px">
                      <div class="advance-details">Engage Socially</div>
                      <div class="advance-details1">With wishlists, Reviews, Ratings</div>
                   </div>
                 </div>
             </div>
            
       </div>
       <div class="place-order-second">
           <div style="    padding: 10px 5px 10px 20px;font-weight: bold;">2. DELIVERY ADDRESS</div>
       </div>
       <div class="place-order-second">
           <span style="    padding: 10px 5px 10px 20px;font-weight: bold;">3. ORDER SUMMERY</span>
            <span style="color: #666">{{cartDetails.length}} items</span>
             <span style="color: #666">Total Rs.{{productSubTotal}}</span>
           
       </div>
       <div class="place-order-second">
           <div style="    padding: 10px 5px 10px 20px; color: #666">4. PAYMENT METHOD</div>
       </div>
   </div>
</div>