
<div ng-controller="productDetailsCtrl">
	<div class="display-product-details" id="goToFront">
	
 <div class="retailer-img"  id="absoluteScroll" onscroll="myFunction()">
 
		<div class="side-images">
			<div class="two-wedges-img">
				<img alt="" src="image/apple-iphone-6-original-small-images.jpeg"
					ng-click="changeImage('image1')" id="image1">

			</div>
			<div class="original-img">
				<img alt=""
					src="image/apple-iphone-6-original-opp-small-images.jpeg"
					ng-click="changeImage('image2')" id="image2">



			</div>
			<div class="side-img">
				<img alt=""
					src="image/apple-iphone-6-original-space-gray-small.jpeg"
					ng-click="changeImage('image3')" id="image3">
			</div>
			<div class="opp-img">
				<img alt="" src="image/apple-iphone-6-two-small-images.jpeg"
					ng-click="changeImage('image4')" id="image4">
			</div>
		</div>

		<div class="product-images">
			<div class="display-product-img">

				<img ng-elevate-zoom ng-src="{{data['small_image']}}"
					zoom-image="{{data['large_image']}}" class="product-img"
					id="phneImg" name="phneImg" width="250px" height="300px">

			</div>

			<div class="display-button">
				<button type="button" class="add-cart">ADD TO CART</button>
				<button type="button" class="buy-now">BUY NOW</button>
			</div>
		</div>
		</div>
		
	            
	     	
		
		<!-- </div> -->
		<div class="products-details-data" style="margin-right: 1%;">
			<div align="justify">
				<div style="display: flex">
					<div class="product-info">
						<div class="product-name">
							<h1>Apple iPhone 6 (Space Grey, 16 GB)</h1>
						</div>

						<div class="star-rating">
							<a ng-click="scrollTo('rating')"> 3.5 &#9734; </a>
						</div>
						<div class="rating-and-views">

							<a ng-click="scrollTo('rating')"
								style="text-decoration: none; cursor: pointer;">611 rating</a> <span>&</span>
							<a ng-click="scrollTo('rating')"
								style="text-decoration: none; cursor: pointer;">68 reviews</a>

						</div>

					</div>

					<div class="compare-share">
						<div class="compare" style="display: inline-block;">Compare</div>
						<div class="share"
							style="display: inline-block; margin-left: 15px" ng-click="displayShare()">
							<img alt="" src="image/ic_launcher_arrow.png" width="20px"
								height="20px"> Share
						</div>
					</div>
<div id="popShare" style="padding-top: 45px;padding-left: 10%" ng-show="isShareVisible" ng-click="hideShare()">

<div class="share-container">

 <form class="share-form" name="myForm"  novalidate>
<fieldset>
<div class="social-media-images-share" style="padding-top: 20px">
 
<span>
 <a href="https://twitter.com/"> <img alt="" src="image/tweet-logo.jpg" width="70px" height="50px" ></a>
 <a href="https://www.youtube.com/"><img alt="" src="image/youtube_online_social_media-128.png" width="70px" height="50px"></a>
 <a href="https://www.facebook.com/"> <img alt="" src="image/facebook-icon-preview-1.png" width="150px" height="100px" style="padding-top: 40px"></a>
</span>
</div>

</fieldset>
</form>
<!-- <button class="cancel" ng-click="hideShare()">&#10006;</button> -->
</div>
</div>


				</div>
				<div class="price-product">
					<div class="details-original-price">
						<h3 style="font-weight: bold;">&#x20b9; 33,990</h3>
					</div>
					<div class="details-cut-price">&#8377; 499</div>
					<div class="details-offer-price">41% off</div>
					<img alt="" src="image/assured_img.png" width="80px" style="margin-left: 2%">
					<img alt="" src="image/ic_launcher_question_mark.png" width="20px" height="20px" ng-click="displayAssured()">
				</div>



				<div class="EMI-details">
					<div class="emi-plans">
						<img alt="" src="image/ic_action_action_perm_contact_cal.png"
							height="28px" width="28px">
						<div class="emi-info">
							<span style="font-weight: bold; color: black;">EMI from</span> Rs
							1,412/month
						</div>
						<a class="views-plans" ng-click="displayViewPlans()">View Plan</a>
						<!-- <a class="views-plans">View Plan</a> -->
					</div>
					<div class="buy-exchange">
						<div class="emi-plans">
							<img alt="" src="image/ic_action_action_swap_vert_circle.png"
								height="28px" width="28px">
							<div class="emi-info">
								<span>Get upto Rs.</span> <span
									style="font-weight: bold; color: black;">20.000</span> <span>off
									on exchange</span>
							</div>
							<a href="" class="views-plans" ng-click="scrollBar('pinCodeBox')">Buy witch Exchange </a>
						</div>
					</div>
					<div class="special-price">
						<div class="emi-plans">
							<img alt="" src="image/ic_launcher.png" height="28px"
								width="28px">
							<div class="emi-info">
								<span style="font-weight: bold; color: black;">Special
									Price </span> <span>Flat Rs.7,000 Off on Apple iPhone 6</span>
							</div>
							<a href="" class="views-plans" ng-click="displayTermsAndCondition()"> T&C </a>
						</div>
					</div>
<div id="popTermsCondition" style="padding-top: 220px;padding-right: " ng-show="isTermsAndConditionVisible" ng-click="hideTermsAnsCondition()" >

<div class="TermsAndCondition-container">

 <form class="TermsAndCondition-form" name="myForm"  novalidate>
<fieldset>
<div>
<div class="terms" ng-repeat="terms in TermsAndCondition" >
    <div class="condition">{{terms.condition}}</div>
    
</div>
</div>

</fieldset>
</form>
<!-- <button class="cancel" ng-click="hideTermsAnsCondition()">&#10006;</button> -->
</div>
</div>

					<div class="bank-offer">
						<div class="emi-plans">
							<img alt="" src="image/ic_launcher.png" height="28px"
								width="28px">
							<div class="emi-info">
								<span style="font-weight: bold; color: black;">Bank Offer</span>
								Extra 15% Cashback* with Citi Credit and Debit Cards
							</div>
							<a href="" class="views-plans" ng-click="displayTerms()"> T&C </a>
						</div>
					</div>
				</div>
				
				<div class="delivery-report">
					<div class="delivery">Delivery</div>
					<div class="delivery-pincod" id="pinCodeBox">
						<form action="">
							<input type="text" placeholder="Enter Delivery Pincode"
								class="deliveryText" style="border: none;" > <span
								class="check" id="pinode">check</span>

						</form>

					</div>
					<a href="" class="pincode-delivery-details"> Enter pincode for
						delivery details </a>
				</div>

				<div class="product-color-storage-info">
					<div class="product-color">
						<div class="color">color</div>
						<div class="display-colors-imgs">

							<img alt="" src="image/Apple-space-grey-color.jpeg" width="60px"
								height="55px"> <img alt=""
								src="image/iphone-pink-color.jpg" width="60px" height="55px">
						</div>
					</div>


				</div>
				<div class="products-list">
					<div class="products-feature">
						<div class="feature">Feature</div>
						<div class="feature-list">
							<ul>
								<li>Color:Black</li>
								<li>Wear:Casual</li>
								<li>Material:Satin</li>
								<li>Heel Height:2.5 inch</li>
								<li>Leather/Non-Leather:Non-Leather</li>
							</ul>
						</div>
					</div>
					<div class="product-services">
						<div class="services">Services</div>
						<div class="services-list">
							<ul>
								<li>Cash on Delivery available</li>
								<li>30 days Exchange Policy</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="seller-spring">
					<div class="seller">Seller</div>
					<a class="springgirl" ng-click="sellerDetails()">Springgirls</a>
				</div>

				<div class="product-description">
					<div class="description">Description</div>
					<div class="description-info">Store more and enjoy more,
						without using as much storage space with the Apple iPhone 6.</div>
				</div>

				<div class="product-specification">
					<div class="specification">Specification</div>
					<div class="general-details" style="padding-bottom: 20px"
						ng-repeat="specification in productSpecifications">
						<div class="general">{{specification.title}}</div>
						<div class="type-type-for-flats">
							<div class="product-slip-type"
								ng-repeat="specificationDetail in specification.specificationDetails">
								<div class="types-for-flats">{{specificationDetail.specificationLabel}}</div>
								<div class="slip-on">{{specificationDetail.specificationInformation}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="buy-together">
				<div class="buy-data">Buy together and save upto 33%</div>
				<div class="display-img-together">
					<div class="apple-original-phone">
						<img alt=""
							src="image/apple-iphone-6-original-imaeymdqs5gm5xkz.jpeg"
							width="50px" height="90px" style="margin-left: 10%">
						<div class="img-description">Apple iPhone 6</div>
						<div class="product-img-rating">
							<a>4.5&#9734;</a> <span>(13,0001)</span>
						</div>
						<div class="product-price">
							<span class="product-original-price">&#8377;29,990</span> <span
								class="product-offer-price">&#8377;36,990</span>
						</div>
						<div class="offer-product">18% off</div>

					</div>
					<div class="phone-guard" style="margin-left: 18%">
						<img alt=""
							src="image/unistuff-16786-2-5d-curve-edge-9h-surface-hardness-original-imaemmyyqtnyhhjz.jpeg"
							width="90px" height="90px">
						<div class="img-description">Apple iPhone 6</div>
						<div class="product-img-rating">
							<a>4.5&#9734;</a> <span>(13,0001)</span>
						</div>
						<div class="product-price">
							<span class="product-original-price">&#8377;29,990</span> <span
								class="product-offer-price">&#8377;36,990</span>
						</div>
						<div class="offer-product">18% off</div>
					</div>
					<div class="mobile-cover" style="margin-left: 18%">
						<img alt=""
							src="image/karpine-bakcase10775scclr-original-imaec4kx6cywzshv.jpeg"
							width="50px" height="90px">
						<div class="img-description">Apple iPhone 6</div>
						<div class="product-img-rating">
							<a>4.5&#9734;</a> <span>(13,0001)</span>
						</div>
						<div class="product-price">
							<span class="product-original-price">&#8377;29,990</span> <span
								class="product-offer-price">&#8377;36,990</span>
						</div>
						<div class="offer-product">18% off</div>
					</div>

				</div>
				<hr>
				<div class="display-product-total">
					<div class="display-item">
						<div class="first-item">1 Item</div>
						<div class="product-original-price">&#8377;29,990</div>
					</div>
					<div class="equal-icon">&#43;</div>
					<div class="display-item" style="margin-left: 3%">
						<div class="first-item">2 Addins</div>
						<div class="product-original-price">&#8377;448</div>
					</div>
					<div class="equal-icon">&#61;</div>
					<div class="display-item" style="margin-left: 3%">
						<div class="first-item">Total</div>
						<div class="product-original-price">&#8377;30,438</div>
					</div>
					<button type="button" class="add-total-cart">ADD 3 ITEMS
						TO CART</button>
				</div>
			</div>
			<!-- <div ng-controller="ratingCtrl"> -->
			<div class="product-rating">
				<div class="product-star-rating" id="rating">
					<span class="rating-number">4.5<img alt=""
						src="image/ic_toggle_star.png" width="30px" height="30px"></span>
					<div class="buy-product-rating">13037 Ratings</div>
					<div class="buy-product-reviews">1512 Reviews</div>
				</div>
				<div
					style="margin-left: 4%; padding-top: 10px; padding-bottom: 10px">
					<div class="progress-rating">
						<div class="first-5star-rating" style="vertical-align: sub;">
							<div class="5*">
								5 <span class="unicode-star">&#9733;</span>
								<div id="myProgress" style="display: inline-block;">
								<div id="myBar" class="myBar" style="width: {{fiveStar}}"></div>
							</div>
							</div>
						</div>

					</div>
					<div class="progress-rating">
						<div class="first-5star-rating" style="vertical-align: sub;">
							<div class="5*">
								4 <span class="unicode-star">&#9733;</span>
								<div id="myProgress" style="display: inline-block;">
								<div id="myBar" class="myBar" style="width: {{fourStar}}"></div>
							</div>
							</div>
						</div>

					</div>

					<div class="progress-rating">
						<div class="first-5star-rating" style="vertical-align: sub;">
							<div class="5*">
								3 <span class="unicode-star">&#9733;</span>
								<div id="myProgress" style="display: inline-block;">
								<div id="myBar" class="myBar" style="width: {{threeStar}}"></div>
							</div>
							</div>
						</div>

					</div>

					<div class="progress-rating">
						<div class="first-5star-rating" style="vertical-align: sub;">
							<div class="5*">
								2 <span class="unicode-star">&#9733;</span>
								<div id="myProgress" style="display: inline-block;">
								<div id="myBar" class="myBar" style="background-color: #ff9f00;width: {{twoStar}}"></div>
							</div>
							</div>
						</div>

					</div>
					<div class="progress-rating">
						<div class="first-5star-rating" style="vertical-align: sub;">
							<div class="5*">
								1 <span class="unicode-star">&#9733;</span>
								<div id="myProgress" style="display: inline-block;">
								<div id="myBar" class="myBar" style="background-color: #ff6161;width: {{oneStar}}"></div>
							</div>
							</div>
						</div>

					</div>
				</div>
				<div align="left">
					<button type="button" class="review-button" ng-click="dsiplaySignup()">
						Rate and Review product</button>
				</div>

			</div>
			<div class="customer-review" ng-repeat="review in productReviews">
				<div style="display: flex;">
					<a  class="customer-star-review"
						style="background-color: #16be48; display: flex">{{review.starRating}}
						<span class="star-white" style="vertical-align: sub;">&#9734;</span>
					</a>
					<div class="review-name">{{review.reviewTitle}} !!!!!!!!</div>
				</div>
				<div class="review-description">{{review.reviewDescription}}</div>
				<div class="review-by">{{review.reviewBy}}</div>
				<div class="like-unlike" style="margin-left: 80%">
					<img alt="" src="image/ic_launcher_like.png" height="20px"
						width="20px" class="like" ng-click="dsiplaySignup()"> <img alt=""
						src="image/ic_launcher_unlike.png" height="20px" width="20px"
						class="unlike" ng-click="dsiplaySignup()" >
				</div>
			</div>

                <div class="all-reviews" ng-click="displayAllReview()">
                   View all 1597 reviews
                </div>

			<div class="product-details-description">
				<div class="description-product"
					ng-repeat="description in productDescription">
					<div
						style="font-size: 24px; font-weight: 500; line-height: 1; padding-bottom: 16px; color: #212121; padding-left: 15px; padding-top: 10px;">
						{{description.productDescriptionTitle}}</div>
					<div class="product-information">{{description.productDescriptionInfo}}</div>
				</div>
			</div>

			<div class="payment-Authantic">
				<img alt="" src="image/ic_action_action_verified_user.png"
					class="payment-verified" width="35px" height="35px">
				<div class="authantic">Safe and Secure Payments. Easy returns.
					100% Authentic products</div>

			</div>
		</div>
		
	<div id="popViewPlan" style="padding-top: 150px" ng-show="isViewPlansVisible">

<div class="viewPlan-container">

 <form class="viewplan-form" name="myForm"  novalidate>
<fieldset>
<div>
<div class="viewplan" >
  <div class="emi-plan-row" style="display: flex;border-bottom:1px solid rgba(153, 153, 153, 0.19)">
			    <span style="font-size: 20px;color: #212121;">EMIs (Pay in Easy Monthly Installments)</span>
			    <span style="font-size: 14px;cursor: pointer;margin-left: 90px;color: #2874f0;" ng-click="displayEMICondition()">EMI With Interest T&Cs</span>
			 </div>	
			 <div class="display-all-bank-details" style="display: flex">
			 <div align="left">
			 <div class="bank-list">
			     <div style="font-size: 14px;color: #212121;font-weight: bold;">EMI WITH INTEREST</div>
			     <div class="bank-name-list">
			        <div class="india-bank" ng-repeat="offer in EMIOptions.emiOffers" ng-click="displayEmiPlan($index)">{{offer.emiOffer.bankName}}</div>
			       
			     </div>
			 </div>
			 </div>
			 <div ng-show="emiPlans">
			 <div class="bank-emi-plans">
			    <div style="font-size: 14px;color: #212121;font-weight: 500;padding-left: 20px;padding-top: 10px" >{{selecteEMIOffer.bankName}} EMI PLANS</div>
			    <div class="all-records" ng-repeat="emiPlan in selecteEMIOffer.emiPlans ">
			    <div class="EMI-bank-cost" style="display: -webkit-box;">
			       <div class="to-add-details"><img src="image/ic_plus_blue.png" height="12px" width="12px" ng-click="hiddenDiv = !hiddenDiv"></div>
			       <div class="emi-no-cost" style="margin-left: 1%">{{emiPlan.emiPlan.emiHeader}}</div>
			       <div class="emi-month-cost" style="margin-left: 50%">{{emiPlan.emiPlan.emi}}</div>
			    </div>
			    <div class="emi-bank-details">
			         <div class="emi-price" style="display: flex;margin-left: 18%" ng-show="hiddenDiv" >
			           <div >Price Rs.</div>
			           <div align="right" >{{emiPlan.emiPlan.price}}</div>
			         </div>
			         <div class="emi-price" style="display: flex; margin-left: 18%;padding-top: 10px" ng-show="hiddenDiv">
			           <div >Intrest Paid</div>
			           <div align="right">+{{emiPlan.emiPlan.interest}}</div>
			         </div>
			         <div class="emi-price" style="display: flex; margin-left: 18%;padding-top: 10px" ng-show="hiddenDiv">
			           <div >Total Amount</div>
			           <div align="right">+{{emiPlan.emiPlan.totalAmountPayable}}</div>
			         </div>
			         
			    </div>
			    </div>
			 </div>
			 </div>
			 
			 <div ng-show="termsCondition">
			 <div class="EMi-terms-condition">
			    <div style="font-size: 14px;color: #212121;font-weight:bold;text-align: left;" >EMI Details</div>
			    <div class="all-records" ng-repeat="termsCondition in EMITermsCondition">
			         <div class="display-terms-condition">
			              <div class="terms-and-condition">{{termsCondition.TermsCondition}}</div>
			         </div>
			   
			    </div>
			    
			 </div>
			 
			 </div>
			 </div>
			 

</div>
</div>

</fieldset>
</form>
<button class="cancel" ng-click="hideViewPlans();resetData()" >&#10006;</button>
</div>
</div>

<!-- <div id="popTermsCondition" style="padding-left: 260px;padding-top: 400px" ng-show="isTermsAndConditionVisible" ng-click="hideTermsAnsCondition()" >

<div class="TermsAndCondition-container">

 <form class="TermsAndCondition-form" name="myForm"  novalidate>
<fieldset>
<div>
<div class="terms" ng-repeat="terms in TermsAndCondition" >
    <div class="condition">{{terms.condition}}</div>
    
</div>
</div>

</fieldset>
</form>
<button class="cancel" ng-click="hideTermsAnsCondition()">&#10006;</button>
</div>
</div> -->


<div id="popUpTermsCondition" style="padding-top: 250px;padding-left: 360px" ng-show="isTermsVisible" ng-click="hideTerms()">

<div class="terms-container">

 <form class="Terms-form" name="myForm"  novalidate>
<fieldset>
<div>
<div class="terms-cond-scroll" style="padding-bottom: 15px" >
<div class="offer-details">
   <div align="left" style="font-weight: bold;">Offer Details:- </div>
   <div class="Offers-product">Under this Offer, Axis Bank Buzz Credit Cardholders will get 5% instant discount on all products sold on Flipkart.com, m.flipkart.com & mAPP (Offer). Offer is also applicable on payments made through EMI on Axis Bank Buzz Credit Cards    </div>
   <div class="Offers-product">There is no minimum cart amount to avail this Offer. The maximum discount that can be availed per card is Rs.200 per month</div>
   <div class="Offers-product">The Offer is valid from 3rd November 2016  (00:00 HRS) to 30th November 2016 (23:59 HRS) (Offer Period), unless extended by Axis Bank and Flipkart Internet Private Limited (Flipkart) by mutual consent in writing </div>
   <div class="Offers-product">The Offer is NOT applicable on the purchase of Gold Coins.</div>
</div>
<div class="">
<div align="left" style="font-weight: bold; padding-top: 20px">Terms and Conditions:  </div>
  <div class="Offers-product">The Offer is applicable on orders placed through Flipkart.com, m.flipkart.com & Flipkarts Mobile Application </div>
  <div class="Offers-product">The Offer is not applicable in the event of partial payments made through gift vouchers or Flipkart Wallet </div>
  <div class="Offers-product">14% rate of interest will be applicable on monthly reducing balance for EMI transactions on Axis Bank Buzz Credit Card</div>
</div>
  <div class="">
  <div align="left" style="font-weight: bold; padding-top: 20px">Detailed Terms & Conditions:-</div>
  <div class="Offers-product">The Offer will be calculated on the final cart amount</div>
  <div class="Offers-product">The Offer is not applicable for cash on delivery transaction and card on delivery transaction</div>
  <div class="Offers-product">The Offer will not be applicable on gift wrap or premium delivery charges</div>
  <div class="Offers-product">Axis Bank Buzz credit cardholder (Cardholder) will have to make the payment of the entire cart value with their Axis Bank Buzz credit Cards only to avail this Offer   </div>
  <div class="Offers-product">In case if there is an existing discount available on the purchased product on flipkart.com, Cardholder will be eligible for an additional 5% discount over and above the existing offer on flipkart.com, subject to all the other conditions being fulfilled</div>
  <div class="Offers-product">The participation is voluntary and any purchase on Flipkarts platform using Axis Bank Buzz Credit Card shall be deemed as acceptance of the terms and conditions mentioned herein        </div>
  </div>

</div>
</div>

</fieldset>
</form>
<!-- <button class="cancel" ng-click="hideTerms()">&#10006;</button> -->
</div>
</div>


<div id="popAssured" style="padding-top: 130px;padding-left: 440px" ng-show="isAssuredVisible" ng-click="hideAssured()">

<div class="popAssured-container">

 <form class="assured-form" name="myForm"  novalidate>
<fieldset>
<div style="background: linear-gradient(90deg,#0c54b8 0,#2874f0 55%,#1ca7f1);">
  <img alt="" src="image/assured_img.png"  class="assured-img">
</div>
   <div align="center" class="quality-speed">Seal of Quality & Speed</div>
   <div class="quality-checks" style="display: flex;padding-top: 20px">
      <img alt="" src="image/fa-callout-shield_f2ee9a.png" width="50px" height="50px" style="margin-left: 15px">
       <div class="6-quality-checks" style="margin-left: 8%">
          <div align="left" style="font-weight: bold;">6 Quality Checks</div>
          <div align="left" >You get exactly what you ordered</div>
       </div>
   </div>
   
    <div class="quality-checks" style="display: flex;padding-top: 20px">
      <img alt="" src="image/fa-callout-rocket.png" width="50px" height="50px" style="margin-left: 15px">
       <div class="6-quality-checks" style="margin-left: 8%">
          <div align="left" style="font-weight: bold;">Fast & Free Shipping</div>
          <div align="left" >Lakhs of products delivered within 2-4 days & Free Delivery*</div>
       </div>
   </div>
   
</fieldset>
</form>

</div>
</div>


<!-- <div id="popShare" style="padding-top: 220px;padding-left: 70%" ng-show="isShareVisible" ng-click="hideShare()">

<div class="share-container">

 <form class="share-form" name="myForm"  novalidate>
<fieldset>
<div class="social-media-images-share" style="padding-top: 20px">
 
<span>
 <a href="https://twitter.com/"> <img alt="" src="image/tweet-logo.jpg" width="70px" height="50px" ></a>
 <a href="https://www.youtube.com/"><img alt="" src="image/youtube_online_social_media-128.png" width="70px" height="50px"></a>
 <a href="https://www.facebook.com/"> <img alt="" src="image/facebook-icon-preview-1.png" width="150px" height="100px" style="padding-top: 40px"></a>
</span>
</div>

</fieldset>
</form>
<button class="cancel" ng-click="hideShare()">&#10006;</button>
</div>
</div> -->



	</div>
	<div>
	
	</div>
	
</div>

<div >
<a  href="#goToFront" class="goto">Back to Top</a>
</div>