<div ng-controller="trackOrderCtrl">
 <div class="trackOrder-details">
 <div style="font-weight: bold;font-size: 18px">LOGIN</div>
 <div class="main-details-trackorder" style="display: flex">
 <div class="trackorder-left-side">
 <form action="" name="myForm"  novalidate>
 <div>
    <input type="text" placeholder="Enter email/mobile" class="trackOrderText" ng-model="email" id="email" required>
    </div>
    <div style="margin-top: 10px">
    <input type="password" placeholder="Enter password" class="trackOrderText" ng-model="username" id="password" required>
    </div>
    <div style="margin-top: 20px">
       <span><button type="button" class="trackOrderButton" ng-click="trackOrderLogin()">LOGIN</button></span>
       <span style="    font-size: 12px;padding-left: 20px;color: color: #666;">forgot password?</span>
    </div>
    <div style="margin-top: 5%">
        <span style="font-size: 12px; font-weight: bold;">New to Retailer? </span>
        <span style="color: #6d9cc4;margin-left: 5px; font-weight: 600;cursor: pointer;font-size: 13px">SIGNUP</span>
    </div>
    <div style="font-size: 12px;margin-top: 6%;">Recover your social account</div>
    <div style="margin-top: 10px">
       <span><button type="button" class="social-media-button"><span style="padding-right: 35px"><img alt="" src="image/facebook-2-xxl.png" width="25px" height="20px" style=""></span>Facebook</button></span>
       <span><button type="button" class="social-media-button" style="background-color: red;">Google+</button></span>
    </div>
    </form>
 </div>
 
 <div class="trackorder-right-side">
    <div style="display: flex">
        <div class="display-img-track">
            <img alt="" src="image/ic_launcher_truck_blue.png" width="35px" height="35px">
        </div>  
        <div class="display-track-data">
           <div style="font-size: 14px;padding-bottom: 5px">Manage Your Orders</div>
           <div style="font-size: 12px">Easily Track Orders, Create Returns</div>
        </div> 
    </div>
    <div style="display: flex;margin-top: 8%">
        <div class="display-img-track">
            <img alt="" src="image/ic_launcher_bell_blue.png" width="35px" height="35px">
        </div>  
        <div class="display-track-data">
           <div style="font-size: 14px;padding-bottom: 5px">Make Informed Decisions</div>
           <div style="font-size: 12px">Get Relevant Alerts And Recommendations</div>
        </div> 
    </div>
    <div style="display: flex;margin-top: 8%">
        <div class="display-img-track">
            <img alt="" src="image/ic_launcher_blue_heart.png" width="35px" height="35px">
        </div>  
        <div class="display-track-data">
           <div style="font-size: 14px;padding-bottom: 5px">Engage Socially</div>
           <div style="font-size: 12px">With Wishlists, Reviews, Ratings</div>
        </div> 
    </div>
    </div>
 </div>
 </div>
 
</div>