    @CHARSET "ISO-8859-1";
.product-name h1
{
	font-size: 18px;
	font-weight: 400;
	padding-top: 8px;
	
}
.star-rating
{
	display: inline-block;
} 

.star-rating a
{
	text-decoration: none;
	background-color: #16be48;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    color: #fff;
    /* font-weight: 500; */
    /* padding-right: 2px;
    padding-left: 2px; */
   /*  padding: 2px 4px; */
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    /* padding:6px 6px 6px 6px; */
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
    
}

.star-rating a:HOVER
{
	text-decoration: none;
	color: white;
}
.rating-and-views
{
	display: inline-block;
	padding-left: 8px;
    font-weight: 500;
    color: #878787;
    
   
}
.rating-and-views a
{
	text-decoration: none;
	font-weight: 500;
    color: #878787;
}
.rating-and-views a:HOVER
{
	color: #878787;
} 
.details-original-price
{
	display: inline-block;
	font-size: 28px;
	color: #212121;
	vertical-align: sub;
	font-weight: 500;
}
.details-cut-price
{
	display: inline-block;
	font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
    text-decoration: line-through;
}
.details-offer-price
{
	display: inline-block;
	margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #16be48;
    vertical-align: middle;
}
.bank-offer
{
     color: #878787;
    font-weight: 500;
    padding-right: 4px;
    display: inline-block;
}
.extra-off
{
	display: inline-block;
}
.terms-condition
{
	display: inline-block;
	color: #2874f0;
    font-weight: 500;
    cursor: pointer;
}
.delivery
{
	color: #878787;
	display: inline-block;
}
.delivery-pincod
{
	display: inline-block;
	margin-left: 6%;
	font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 2px solid #2874f0;
    margin-top: 2%;
}
.check
{
	font-size: 14px;
    color: #2874f0;
    font-weight: bold;
}

.enter-pincode
{
	background: #212121
	padding: 10px;
    font-size: 12px;
    top: 11px;
    color: #fff;
    border: 1px solid #212121
}

.size-Euro
{
	display: inline-block;
	color: #878787;
	font-weight: 500;
	
}
.size-chart
{
	display: inline-block;
	
}
.size-Euro
{
	display: inline-block;
	
}
.pagination > li > a, .pagination > li > span
{
	margin-left: 6px;
}

.pagination
{
	display: inline-block !important;
}
.feature
{
	display: inline-block;
	color: #878787;
	font-weight: 500;
}
.feature-list
{
	display: inline-block;
	list-style: none;
}
.feature-list ul li
{
    padding:0 0 8px 16px;
    list-style: none;
}
.services
{
	display: inline-block;
	color: #878787;
	font-weight: 500;
}
.services-list
{
	display: inline-block;
}
.services-list ul li
{
	 padding:0 0 8px 16px;
    list-style: none;
}
.products-feature
{
	display: inline-block;
	display: flex;
}
.product-services
{
	display: inline-block;
	display: flex;
}
.display-product-img
{
	width: 450px;
	height: 450px;
	border-bottom: 1px solid rgba(153, 153, 153, 0.19);
	border-left: 1px solid rgba(153, 153, 153, 0.19);
	border-right: 1px solid rgba(153, 153, 153, 0.19);
	border-top: 1px solid rgba(153, 153, 153, 0.19);
	display: inline-block;
	
}
.product-img
{
    padding-left: 80px;
    padding-top: 20px;
	
} 
.products-details-data
{
	margin-left: 1%;
	position: relative;
	width: 48%;
	left: 50%;
}
.display-product-details
{
	display: flex;
	background-color: white;
}
.product-size
{
	display: flex;
	margin-top: 2%;
}
.products-list
{
	display: flex;
}
.add-cart
{
	margin-top: 2%;
	width: 49%;
	height: 50px;
	background-color: #ff9f00;
	color: white;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
	font-weight: 500;
}
.buy-now
{
	margin-top: 2%;
	width: 49%;
	height: 50px;
	background-color: #fb641b;
	color: white;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
	font-weight: 500;
}
.display-button
{
	width: 100%;
}

.seller-spring
{
	
}
.seller
{
	display: inline-block;
	color: #878787;
	font-weight: 500;
}
.springgirl
{
	display: inline-block;
	color: #2874f0;
	margin-left: 6%;
}
.product-specification
{
	border-top: 1px solid rgba(153, 153, 153, 0.19);
	margin-top: 2%;
	border-bottom: 1px solid rgba(153, 153, 153, 0.19);
	border-left: 1px solid rgba(153, 153, 153, 0.19);
	border-right: 1px solid rgba(153, 153, 153, 0.19);
}
.specification
{
	padding: 15px 20px 15px 15px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.14;
    color: #212121;
    border-bottom: 1px solid rgba(153, 153, 153, 0.19);
}
.general
{
	font-size: 16px;
	padding-left: 20px;
	padding-top: 20px;
	color: black;
	
}
.type
{
   	
	display: inline-block;
	color: #878787;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
}
.wedges
{
	display: inline-block;
	padding-left: 80px;
	padding-top: 20px;
}
.types-for-flats
{
	color: #878787;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
    
}
.slip-on
{
	display: inline-block;
	padding-left: 20px;
	padding-top: 20px;
}
.product-slip-type
{
	display: flex;
/* 	padding-bottom: 15px;
 */}
.pro-details
{
	padding-left: 20px;
	border-top: 1px solid rgba(153, 153, 153, 0.19);
	padding-top: 15px;
	font-size: 18px;
	
}
.insole-material
{
	display: inline-block;
	color: #878787;
    font-size: 14px;
    padding-left: 20px;
}
.rubber
{
	display: inline-block;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
/* .read-more
{
	font-size: 16px;
    color: #2874f0;
    font-weight: 400;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-bottom:1px solid rgba(153, 153, 153, 0.19);
    border-left:1px solid rgba(153, 153, 153, 0.19);
    border-right:1px solid rgba(153, 153, 153, 0.19);
     padding-left: 20px;
     padding-bottom: 15px;
     padding-top: 15px;
     cursor: pointer;
     
    
} */

.read-more
{
	 border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-bottom:1px solid rgba(153, 153, 153, 0.19);
    border-left:1px solid rgba(153, 153, 153, 0.19);
    border-right:1px solid rgba(153, 153, 153, 0.19);
	
}
.similar-products
{  
	margin-top:3%;
    border-top:1px solid rgba(153, 153, 153, 0.19) ;
    border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-right:1px solid rgba(153, 153, 153, 0.19) ;	
}

.star-rating
{
	margin-top:3%;
	border-top:1px solid rgba(153, 153, 153, 0.19) ;
    border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-right:1px solid rgba(153, 153, 153, 0.19) ;	
}
.authantic
{
	display: inline-block;
}
.payment-verified
{
	display: inline-block;
}
.payment-Authantic
{
	/* margin-left: 4%; */
	
	padding:  10px 10px 10px 10px;
}
.two-wedges-img
{
	border-top:1px solid rgba(153, 153, 153, 0.19) ;
    border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    padding: 3px 3px 3px 3px;
}
.original-img
{
	 border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    padding: 3px 3px 3px 3px;
}
.side-img
{
	 border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    padding: 3px 3px 3px 3px;
}
.opp-img
{
	 border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    padding: 3px 3px 3px 3px;
}
.side-images
{
	margin-left: 2%;
	margin-top: 2%;
}
.product-images
{
	margin-top: 2%;
}
.img-rating
{
	background-color: #16be48;;
	color: white;
}
.display-similar-product-img1
{
	display: inline-block;
	text-align: center;
	margin-left: 3%;
	
}
.display-similar-product-img2
{
	display: inline-block;
	text-align: center;
	margin-left: 3%;
}

.display-similar-product-img3
{
	display: inline-block;
	text-align: center;
	margin-left: 3%;
}

.view-all-reviews
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}
.view-review
{
	display: inline-block;
	padding-left: 15px;
	padding-top: 15px;
	font-size: 15px;
	font-weight: 500;
	color: #2874f0;
}
.view-review a
{
	text-decoration: none;
} 
.added-symobol
{
	display: inline-block;
	margin-left: 90%;
}
.details-banks-offer
{
	margin-top: 2%;
}
.delivery-report
{
	margin-top: 1%;
}

.pincode-delivery-details
{
	background-color:black;
    color: white;
    padding: 8px 8px 8px 8px;
}

.pincode-delivery-details a:HOVER
{
	color: white;
	text-decoration: none;
}
.similarProduct h4
{
	padding-top: 5px;
	padding-right: 5px;
	
}
.cartDetails
{
	
	background-color:white;
	margin-top: 1%;
	border-left:1px solid rgba(153, 153, 153, 0.19) ;
	border-right:1px solid rgba(153, 153, 153, 0.19) ;
}

.cart1
{
	color: #fff;
    background: #666;
    font-size: 18px;
    border: 0;
    padding-top:5px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 1px solid #333;
}
.item-list
{
	background-color: #f2f2f2;
	margin-top: 1%;
	display: flex;
	border-top: 1px solid rgba(153, 153, 153, 0.19) ;;
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ; ;
	padding: 5px 5px 5px 5px;
}
.qty
{
	margin-left: 25%;
	border-left: 1px solid rgba(153, 153, 153, 0.95);
	padding-right: 10px;
	padding: 5px 5px 5px 5px;
}
.price
{
	margin-left: 5%;
	border-left: 1px solid rgba(153, 153, 153, 0.95);padding: 5px 5px 5px 5px;
}
.deivery-details
{
	margin-left: 9%;
	border-left: 1px solid rgba(153, 153, 153, 0.95);padding: 5px 5px 5px 5px;
}
.subtotal
{
	margin-left: 13%;
	border-left: 1px solid rgba(153, 153, 153, 0.95);padding: 5px 5px 5px 5px;
}
.emi-info
{
	display: inline-block;
	margin-left: 5px;
}
.views-plans
{
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	font-weight: bold;
}
.views-plans a:HOVER
{
	text-decoration: none;
}
.color
{
	
    font-weight: 500;
    color: #878787;
    font-size: 17px;
    display: inline-block;
}
.display-colors-imgs
{
	display: inline-block;
	margin-left: 3%;
}

.product-color-storage-info
{
	margin-bottom: 3%;
	margin-top: 3%;
}
.display-storage-buttons
{
	display: inline-block;
}
.16GB-storage
{
	width: 20px;
	height: 15px;
	color: black;
	background-color: white;
}
.description
{
	font-weight: 500;
    color: #878787;
    display: inline-block;
}
.description-info
{
	display: inline-block;
	font-size: 12px;
}
.description-info
{
	margin-left: 1%;
}

.product-description
{
	margin-top: 1%;
}

.resolation
{
	display: inline-block;
	padding-left: 80px;
	padding-top: 20px;
}

.product-features
{
	font-size: 16px;
	padding-left: 20px;
	padding-top: 20px;
	color: black;
	
}

.product-sub-features
{
	display: flex;
	/* padding-bottom: 15px; */
	padding-bottom: 2px;
}

.types-of-feature
{
   	
	display: inline-block;
	color: #878787;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 20px;
}

.feature-info
{
	display: inline-block;
	/* padding-left: 80px; */
	padding-top: 20px;
    	
}

.buy-together
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}
.buy-data
{
	font-weight: 500;
	font-size: 24px;
	padding: 15px 20px 15px 15px;
}

.img-description
{
	font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
.display-img-together
{
	display: flex;
	border-bottom: border-top: 1px solid rgba(153, 153, 153, 0.19);
}
.product-img-rating a
{
	color: white;
	background-color: #16be48;
	text-decoration: none;
	border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    padding: 2px 4px;
}
..product-img-rating a:HOVER {
	text-decoration: none;
	color: white;
}
.product-img-rating
{
	padding-top: 5px;
}
.product-original-price
{
	font-size: 16px;
    font-weight: bold;
    color: #212121;
}
.product-offer-price
{
	text-decoration: line-through;
    font-size: 14px;
    color: #878787;
}

.offer-product
{
	color: #16be48;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 500;
    padding-top: 6px;
    text-align: center;
}

.buy-together
{
	padding-top: 5px;
	padding-left: 5%;
}
.img-description
{
	padding-top: 10px;
}
.product-price
{
	padding-top: 6px;
}
.display-product-total
{
	/* border-top: 1px solid rgba(153, 153, 153, 0.19); */
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}

.first-item
{
	color: #878787;
	font-family: Roboto,Arial,sans-serif;
	padding-top: 5px;

}
.equal-icon
{
	font-size: 20px;
	color: #878787;
	font-family: Roboto,Arial,sans-serif;
	margin-left: 3%;
}

.add-total-cart
{
	width: 200px;
	height: 45px;
	background-color: #ff9f00;
	color: white;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
	font-weight: 500;
	margin-left: 15%;
}

.product-rating
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
    display: flex;
    margin-top: 3%;
}
.rating-number
{
	color: #212121;
	font-size: 32px;
	font-weight: 500;
}
.buy-product-rating
{
	font-size: 14px;
    color: #878787;
    font-weight: 500;
    padding-top: 2px;
}
.buy-product-reviews
{
	font-size: 14px;
    color: #878787;
    font-weight: 500;
    padding-top: 2px;
}
.product-star-rating
{
	margin-left: 4%;
	padding-top: 13px;
	padding-bottom: 8px;
}
.review-button
{
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.26);
    border: none;
    color: #212121;
    width:100%;
    font-size: 14px;
    background-color: #f9f9f9;
    cursor: pointer;
    margin-left: 118%;
    margin-top: 30px;
}
.product-details-description
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
    margin-top: 2%;
}
.product-information
{
	font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    color: #212121;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.brilliant-display
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}

.display
{
	font-weight: 400;
   /*  color: #212121; */
    font-size: 18px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-top: 10px;
}
.display-feature-box
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
	margin-left: 2%;
}
.enhance processing
{
	
}

.customer-review
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
    padding-bottom: 20px;
    padding-top: 15px;
}
.customer-star-review
{
	
	/* background-color: #ff6161; */
	color: white;
	padding: 2px 4px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 12px;
}
.customer-star-review:HOVER {
	color: white;
	text-decoration: none;
}
.customer-star-review a
{
	display: flex;
}
.review-name
{
	padding-left: 12px;
    padding-top: 3px;
    font-size: 14px;
    color: #212121;
    font-weight: bold;
    
}
.review-description
{
	line-height: 1.4;
    font-size: 14px;
    color: #212121;
    margin: 12px 0 9px;
    overflow: hidden;
    margin-left: 12px;
	
}
.review-by
{
	font-size: 12px;
    color: #878787;
    padding: 0 6px 0 0;
    margin-left: 15px;
    margin-bottom: 10px;
}

.progress-bar-green
{
	background:green;
	padding-right: 100px;
	/* padding-top: 0in;
	padding-bottom: 0in; */
}
.progress-bar-green-4
{
	background:#f0f0f0;
	padding-right: 100px;
	color: green;
}
.read-more-data
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
    padding:10px;
    padding-left: 20px;
}
.compare-share
{
	margin-top: 4%;
	margin-left: 5%;
}
.compare:HOVER
{
	color: #2874f0;
	cursor: pointer;
}
.share:HOVER
{
	color: #2874f0;
	cursor: pointer;
}

#popWin
{
	 width: 20%;
   height: 20%;
   /* position: fixed; */
   /* position:absolute; */
   z-index: 700;
   bottom: 0;
   padding: 10px;
   background-color:#f5f5f5;
   margin-top: 10%;
   margin-left: 10%;
}

.like:HOVER
{
	color: #2874f0;
}
.unlike
{
	margin-left: 10%;
}
	
.cart-item-summery
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
    background: #f2f2f2;
    padding: 15px 15px 15px 15px ;
}

.retailer-cart-details
{
	margin-left: 15%;
	margin-right: 15%;
}
.retailer-images
{
	display: flex;
	position: fixed;
}

.Review-of-five-star
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}
.Review-of-four-star
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}
.two-star-review
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}

.unicode-star
{
	font-size: 10px;
}

.star-white
{
	font-size: 8px;
}

#myProgress
{
	 position: relative;
  /* width: 100%; */
  height: 6px;
  /* background-color: #ddd; */
/*    margin-left: 100%; */
 
}

.myBar {
  position: absolute;
 /*  width: 10%; */
  height: 100%;
  background-color: #4CAF50;
 
}

.general-details
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}

.description-product
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}

.product-img-rating a:HOVER {
	text-decoration: none;
	color: white;
}

/* .home-page
{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
} */

/* .retailerApp-menu
{
	position: fixed;
	top: 0;
} */

.retailer-img
{
	position: fixed;
	display: flex;
	top: 170px;
}
.retailer-image-absolute
{
	position: absolute;
	bottom: 0;
}

.all-reviews
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    border-right: 1px solid rgba(153, 153, 153, 0.19);
    font-size: 16px;
    color: #2874f0;
    cursor: pointer;
    padding: 24px;
    font-weight: 500;
}

.rating-review-header
{
	font-size: 22px;
    color: #212121;
    vertical-align: middle;
    font-weight: 500;
    float: left;
    padding: 22px 22px 22px 22px;
   
}
.rviews-with-image
{
	 border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
	 padding-bottom: 20px;
}
.redirect-product-page
{
	margin-left: 75%;
}
.review-list
{
	cursor: pointer;
    font-size: 14px;
    color: #212121;
    font-weight: 400;
    padding: 20px;
    border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
   
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}

.display-review-total
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-left:1px solid rgba(153, 153, 153, 0.19) ;
    
    border-right: 1px solid rgba(153, 153, 153, 0.19);
}

#pop-view-plans
{
	 width: 100%;
   height: 100%;
   position: fixed;
   z-index: 700;
   padding-top: 200px;
   padding-left: 250px;
   background: rgba(16, 12, 12, 0.49);
  border-left:1px solid rgba(153, 153, 153, 0.19) ;
  border-right: 1px solid rgba(153, 153, 153, 0.19);
  border-top:1px solid rgba(153, 153, 153, 0.19) ;
  border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
   
 
}
.to-add-details
{
	color: blue;
}
.emi-no-cost
{
	    color: #212121;
    font-size: 14px;
}
.emi-month-cost
{
	    color: #212121;
    font-size: 14px;
}
.EMI-bank-cost
{
	padding: 20px
}

.rating-percent
{
	font-size: 30px;
	font-weight: 800;
}
.rating-percentage
{
	padding-top: 5px;
}
.positive-rating
{
	padding-bottom: 10px;
	padding-top: 10px;
}
.seller-review
{
	border-bottom:1px solid rgba(153, 153, 153, 0.19) ;
    border-top: 1px solid rgba(153, 153, 153, 0.19);
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.seller-reviewBy
{
	text-decoration: underline;
}

.seller-details
{
	margin-left: 10%;
	margin-right: 10%;
	border-left: 1px solid rgba(153, 153, 153, 0.19) ;
	border-right: 1px solid rgba(153, 153, 153, 0.19) ;
	
}
.seller-review-description
{
	margin-left: 10%;
}
.positive-rating
{
	padding-right: 10px;
	display: flex;
}
.display-next-seller-page
{
	padding-top: 20px;
	margin-left: 30%;
	/* padding-bottom: 20px; */
	
}

.all-reviews
{
	
}


#popViewPlan
{
	
   width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0;
   padding: 10px;
   background: rgba(16, 12, 12, 0.49);
    webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
   
}

.viewPlan-container
{
	width: 100%;
    height: 80%;
    text-align: center;
    max-height: 500px;
     webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
}
.viewPlan-form
{
	background: white;
    width: 400px;
    margin: 0 auto;
    padding: 50px 50px;
    overflow: hidden;
    display: inline-block;
    height: 100%;
      box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
}

#pop-TermsCondition
{
	width: 100%;
   height: 100%;
   position: fixed;
   z-index: 700;
   bottom: 0;
   padding: 10px;
   /* background: rgba(16, 12, 12, 0.49); */
	
}

.TermCondition-container
{
	width: 100%;
    height: 80%;
    text-align: center;
    max-height: 500px;
}

.viewplan-form
{
	background: white;
    width: 800px;
    margin: 0 auto;
    padding: 50px 50px;
    overflow: hidden;
    display: inline-block;
    height: 100%;
      box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
   
}

.bank-list
{
	padding: 16px 0 16px 30px;
	overflow-y: scroll;
    width: 250px;
    height: 80%;
 
   	
}

.india-bank
{
	padding-top: 40px;
}

/* .bank-name-list
{
	overflow-y: scroll;
    width: 250px;
    height: 80%;
} */

.terms-and-condition
{
	text-align: justify;
	padding-top: 20px;
	font-size: 13px;
}
.display-terms-condition
{
	margin-left: 4%;
}

#popTermsCondition
{
	width: 100%;
   height: 100%;
   position: absolute;
  /*  z-index: 700; */
   bottom: 0;
   padding: 10px;
   /* background: rgba(16, 12, 12, 0.49); */
    webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
}

.TermsAndCondition-container
{
	width: 100%;
    height: 80%;
    text-align: center;
    max-height: 500px;
     webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
}

.TermsAndCondition-form
{
	background: white;
    width: 400px;
    margin: 0 auto;
    padding-top:10px;
    padding-left:15px;
    overflow: hidden;
    display: inline-block;
    height: 29%;
   
      box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
}

.condition
{
	text-align: justify;
	font-size: 13px;
	padding-top: 15px;
}


#popUpTermsCondition
{
	width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0;
   padding: 10px;
    webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
   /* background: rgba(16, 12, 12, 0.49) */
}

.terms-container
{
		width: 100%;
    height: 80%;
    text-align: center;
    max-height: 500px;
     webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
}

.Terms-form
{
	background: white;
    width: 650px;
    margin: 0 auto;
   padding-top:10px;
    padding-left:15px;
    padding-right:10px;
    overflow: hidden;
    display: inline-block;
    height: 100%;
     box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
}


.Offers-product
{
	text-align: justify;
	font-size: 13px;
	padding-top: 12px;
	
}
.terms-cond-scroll
{
	overflow-y: scroll;
	height: 100%;
}

#popAssured
{
	width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0;
   padding: 10px;
  /*  background: rgba(16, 12, 12, 0.49) */
  webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
    
}
.popAssured-container
{
		width: 100%;
    height: 40%;
    text-align: center;
    max-height: 500px;
      webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
}

.assured-form
{
	background: #ffffff;
    width: 270px;
    margin: 0 auto;
     padding:5px;
    overflow: hidden;
    display: inline-block;
  /*   height: 100%; */
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
}

.assured-img
{
	width: 170px;
	height: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.quality-speed
{
	font-size: 18px;
	padding-top: 10px;
}

#popShare
{
	width: 100%;
   height: 100%;
   position:absolute;
   /* background: rgba(16, 12, 12, 0.49); */
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
   webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
    
   
}

.share-container
{
	width: 100%;
    height: 15%;
    text-align: center;
    max-height: 500px;
   top: 500px;
   webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
  
      
     
}

.share-form
{
	
	background: white;
    width: 250px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    height: 20%;
     box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
 
}

.social-media-images-share
{
	overflow-y: scroll;
	height: 100%;
}

.goto
{
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: none;
}
.filters-product
{
	width: 260px;
      padding-top:10px;
      padding-left:10px;
      box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
       background-color: #fff;
}

.categories
{
	border-bottom: 1px solid #f0f0f0;
    padding: 16px;
}

.Price-filter
{
	border-bottom: 1px solid #f0f0f0;
    padding: 16px;
}

.drop-down-price
{
	display: flex;
	padding-top: 7px;
}

.assured-check
{
	border-bottom: 1px solid #f0f0f0;
    padding: 16px;
}

.Brand
{
	border-bottom: 1px solid #f0f0f0;
    padding: 16px;
}
.brand-name
{
	padding-left: 8px;
    vertical-align: super;
}
.sub-brand
{
	padding-top: 7px;
}
.minValueSelection
{
	width: 70%;
}
.maxValueSelection
{
	width: 70%;
}
.show-filter-products
{
	 padding-top:10px;
      padding-left:10px;
      width: 100%;
      
}
.display-price-list
{
	display: flex;
	padding-top:13px;
    
    padding-bottom: 5px;
}

.list-price
{
	padding-left: 1%;
	color: black;
}
.list-price a :HOVER  {
	text-decoration: none;
	color: black;
}
.filter-products-dscription
{
	padding-top: 15px;
	
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
}
.heart-shape-img
{
	margin-left: 10%;
}
.name-of-phone
{
	font-weight: 500;
	font-size: 18px;
	cursor: pointer;
}
.filter-sub-product-description
{
	padding-left: 30px;
	padding-top: 10px;
	width: 50%;
}
.list-filter-product-details
{
	padding-top: 4px;
}
.list-out-filter-products
{
	font-weight: 400px;
	font-size: 13px;
	padding-top: 3px;
	cursor: pointer;
}
.product-help
{
	padding-top: 8px;
}

#popRatingReview
{
	width: 50%;
   height: 100%;
   position: absolute;
   bottom: 0;
   padding: 10px;
  /*  background: rgba(16, 12, 12, 0.49) */
  webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
    
}
.RatingReview-container
{
		width: 100%;
    height: 40%;
    text-align: center;
    max-height: 500px;
      webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
}

.RatingReview-form
{
	background: #ffffff;
    width: 320px;
    margin: 0 auto;
     padding:5px;
    overflow: hidden;
    display: inline-block;
  /*   height: 100%; */
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
}

.home-filter :HOVER {
	color: blue !important;
	
	
}
.mobile-view-all
{
	background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
  
}
.mobile-list
{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
}
.show-mobiles-list
{
	padding-left: 2%;
	padding-right: 1%;
	padding-top: 2%;
}

.mobile-information
{
	width: 100%;
	display: inline-flex;
	padding: 0px;
}

.mobile-item
{
	text-align: center;
    list-style: none;
}

.mobile-product-info
{
	/* width:16.66%;
	height: 250px; */
	display: inline-block;
	 /* width:530px;
    height:210px */;
    margin: 5px 20px;
}
.mobile-img-box
{

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.mobile-img-box:HOVER
{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.mobile-title
{
	font-weight: bold;
	margin-left: 2%;
}

.phone-price
{
	color: #16be48;
	margin-left: 2%;
}

.mobile-original-price
{
	text-decoration: line-through;
	font-weight: bold;
	margin-left: 2%;
}

.dispaly-first-list
{
	width: 100%;
	padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 20px;
}
.display-tv-list
{
	border-bottom: 1px solid #f0f0f0;
}
/* .show-tv-details
{
	background-color: #e4e4e4;
} */
.displayiproduct-image
{
	display: flex;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
	padding-left: 2%;
	width: 96%;
}
.tv-description
{
	background-color: #e4e4e4;
}
.display-right-side-tv-details
{
	width: 100%;
}
.view-trackorder
{
	padding-top: 30px;
}
.giftCardDetails
{
	margin-left: 10%;
	margin-right: 10%;
    border-bottom: 2px solid #f0f0f0;
    border-left: 2px solid #f0f0f0;
     border-right: 2px solid #f0f0f0;
     background-color: white;
}
.gift-card-option
{
	padding-top: 15px;
	padding-left: 8px;
}
.check-balance
{
	background-color: #50b5e2;
	color: white;
	padding:13px;
	border-radius: 3px 3px 0 0;
	margin-left: 4px;
}

.buy-retail-gift-card
{
	background-color: #124969;
	color: white;
	padding:13px;
	border-radius: 3px 3px 0 0;
}
.asked-question
{
	background-color: #50b5e2;
	color: white;
	padding:13px;
	border-radius: 3px 3px 0 0;
	margin-left: 4px;
	
}
.corporate-requirement
{
	background-color: #50b5e2;
	color: white;
	padding:13px;
	border-radius: 3px 3px 0 0;
	margin-left: 4px;
	
}
.display-reatiler-images
{
	
}
.gift-card-info
{
	padding-left: 40px;
	width: 100%;
	background-color: #f2f2f2;
	margin-left:1%;
	margin-top: 1%;
	padding-bottom: 10px;
	padding-right: 10px;
}
.gift-card-info-1
{
	display: flex;
}
.txtinfo
{
	width: 25%;
}
.gift-card-info-2
{
	    border: 1px solid #dcdcdc;
	   margin-top: 10px;
	   margin-right: 20px;
}
.msg-box
{
	height: 10%;
}
.add-gift
{
	background-color: #dddcdc;
	margin-top: 3%;
	margin-right: 3%;
}
.gift-button
{
	background-color: #f75b16;
	color: white;
	font: bold;
	border-radius: 2px;
}
.gift-card-description
{
	margin-top: 10px;
}
.card-description
{
	padding-top: 5px;
	text-align: justify;
	font-size: 11px;
	padding-left: 15px;
	padding-right: 5px
}
.display-first-os-img a
{
	background-color: #666;
	color: white;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
    padding-right: 25px	
}

.display-first-os-img a:HOVER
{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.display-second-os-img a
{
	margin-left:20px;
	background-color: #67ae55;
	color: white;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
    padding-right: 25px	
}
.display-third-os-img a:HOVER
{
	color: white;
	text-decoration: none;
	cursor: pointer;
	
}
.display-second-os-img a:HOVER
{
	color: white;
	text-decoration: none;
	cursor: pointer;
	
}

.display-third-os-img a
{
	margin-left:20px;
	background-color: #2874f0;
	color: white;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
    padding-right: 25px	
}
.display-os-image
{
	margin-left: 350px;
	margin-top: 2%;
}
.download-app-second-block
{
	padding-top: 30px;
}
.download-app-third-block
{
	    border-top: 1px solid #f77219;
	    margin-top: 1%;
}
.customerCareDetails
{
	border-top:  2px solid #f0f0f0;
	border-left:2px solid #f0f0f0;
	border-right:2px solid #f0f0f0;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10px;
}
.browser-category ul
{
	padding-top: 10px;
}
.browser-category li
{
	list-style: none;
	border-bottom: 1px solid #f0f0f0;;
	padding-top: 15px;
	border-top: 1px solid #f0f0f0;;
	padding-left: 8px;
	padding-bottom: 10px
}
.browser-category
{
	background-color: #f6f6f6;
	width: 40%;
	margin-top: 2%;
	    box-shadow: 0 1px 2px 0 #ccc;
	
}
.browser-category a
{
	color: black;
}
.frequnty-asked-side-div
{
	background-color: #f6f6f6;
	width: 35%;
	padding-top: 15px;
	padding-right: 10px;
	
}
.frequnty-asked-side-div li {
	list-style: none;
	border-bottom: 1px solid #f0f0f0;
	padding-top: 15px;
	border-top: 1px solid #f0f0f0;;
	padding-left: 8px;
	padding-bottom: 10px
}
.frequnty-asked-side-div a
{
	color: black;
}
.frequnty-asked-side-div ul
{
	padding-top: 10px;
}
.third-block-care
{
	background-color: #f6f6f6;
	width: 35%;
	padding-top: 15px;
	padding-right: 10px;
	box-shadow: 0 1px 2px 0 #ccc;
}
.contact-us-button
{
	background: #2874f0;
    color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    border: 1px solid #2874f0;
    margin-left:25px;
    margin-top: 20px;
}
.gift-card-option li a:HOVER {
	color: white;
	text-decoration: none;
	cursor: pointer;
	background-color: #124969;
}
#egv-banner
{
	background: url(../image/egv-banner-background.png) repeat-x;
    width: 100%;
    height: 127px;
    position: relative;
}
#egv-ribbon
{
	position: absolute;
    top: -142px;
    right: 0;
}
.display-leftSide-customer
{
	width: 50%;
}
.careText
{
	width: 500px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	 background-color: #f6f6f6;
	 margin-top: 10px;
	
}
.goButton
{
	background-color: #565656;
    color: white;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-left: 6px;
    font-size: 13px;
    border-radius: 3px 3px 3px 3px;
    margin-top: 10px;
}
.textboxdiv a:HOVER {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.category-browse
{
	background-color: #f6f6f6;
}
.category-browse-row
{
	padding: 8px;
	border-bottom: 1px solid #ccc;
}
.display-rightSide-customer
{
	background-color: #f6f6f6;
	padding-left: 20px;
	margin-left: 10%;
	width: 30%;
}

.asked-question-name
{
	font-size: 13px;
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
	padding-bottom: 8px;
	
}

.customer-third-block
{
	background-color: #f6f6f6;
	width: 30%;
	margin-top: 2%;
	padding-top: 15px;
	margin-left: 15px;
	margin-left: 61%;
}

.customer-care-contact
{
	border-color: #0061ff;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #004b91;
	border-radius: 2px;
	height: 45px;
}
.trackOrder-details
{
	margin-right: 12%;
	margin-left: 12%;
	/* border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; */
	padding-top: 20px;
	padding-left: 70px;
	 box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}
.trackOrderText
{
	width: 400px;
	height: 45px;
	padding-left: 20px
}
.trackorder-left-side
{
	margin-top: 10px;
}
.trackOrderButton
{
	    background: #ccc;
    border-color: #bbb;
    width: 110px;
    height: 40px;
    text-shadow: 0 0 1px rgba(0,0,0,0.33);
    color: #f9f9f9;
    border-radius: 2px;
}
.social-media-button
{
	width: 172px;
	height: 42px;
	color: white;
	font-weight: bold;
}

.trackorder-left-side
{
	padding-bottom: 40px;
}
.trackorder-right-side
{
	margin-left: 35px;
}
.display-track-data
{
	padding-left: 20px;
}

#popTrackOrder
{
	width: 100%;
   height: 100%;
   position: absolute;
  /*  z-index: 700; */
   bottom: 0;
   padding: 10px;
   background: rgba(16, 12, 12, 0.49);
    webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
}

.TrackOrder-container
{
	width: 100%;
    height: 80%;
    text-align: center;
    max-height: 500px;
     webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
}
.TrackOrder-form
{
	background: white;
    width: 400px;
    margin: 0 auto;
    padding-top:10px;
    padding-left:15px;
    overflow: hidden;
    display: inline-block;
    height: 29%;
   
      box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
}